<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread{10}] %-5level %c{1.} - %msg%n"/>
            <ThreadContextMapFilter onMatch="DENY" onMismatch="NEUTRAL" operator="or">
                <KeyValuePair key="hideFromConsole" value="yes"/>
            </ThreadContextMapFilter>
        </Console>
        <File name="File" fileName=".bear/logs/bear.log" append="false" >
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread{10}] %-5level %c{1.} - %msg%n"/>
            <ThreadContextMapFilter onMatch="DENY" onMismatch="NEUTRAL" operator="or">
                <KeyValuePair key="hideFromBearLog" value="yes"/>
            </ThreadContextMapFilter>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="net.schmizz" level="info">
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="bear.core.BearScript">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File" />
        </Logger>

        <Root level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>