<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread{10}] %-5level %c{1.} - %msg%n"/>
        </Console>
        <File name="File" fileName=".bear/logs/bear.log">

        </File>
    </Appenders>
    <Loggers>
        <Logger name="net.schmizz" level="error">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="net.schmizz" level="error">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>