<!DOCTYPE html>

<html>
<head>
    <title></title>

    <meta charset="UTF-8">
    <!--<script src="js/firebug-lite.js"></script>-->

    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/json2.js"></script>
    <script src="js/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/chosen.jquery.js"></script>

    <script src="js/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ace/src-noconflict/ext-language_tools.js"></script>
    <script type="text/javascript">
        ace.require("ace/ext/language_tools");
    </script>
    <script src="js/ace/ui-ace.js"></script>

    <script src="js/bear.js"></script>
    <script src="js/stacktrace.js"></script>
    <script src="js/java-bindings.js"></script>
    <script src="js/pretty-time.js"></script>

    <!--<script src="js/perfect-scrollbar.js"></script>
    <script src="js/angular-perfect-scrollbar.js"></script>
-->
    <!--<script src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>-->
    <!--<script src='https://getfirebug.com/releases/lite/1.4/firebug-lite.js'></script>-->

    <script src='js/firebug-lite-compressed.js'></script>



    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/chosen.css"/>
    <link rel="stylesheet" href="css/chosen-bootstrap.css"/>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <style>
        .ace_editor {

            height: 200px;
        }

        .aceEditor {
            position: relative;
            height: 300px;
        }

        #settingsText, #scriptText{
            position: relative;
        }

        .console-task{
            display: block;
            padding: 3px 5px;
        }

        #conTabsRootPanel {
            height: 200px;
        }

        .console-command.text-info{
            font-family: 'source-code-pro', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', monospace;
            font-size: 12px;
        }

        .console-message{
            font-family: 'source-code-pro', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', monospace;
            font-size: 12px;
        }

        .current-console-command{
            font-family: 'source-code-pro', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', monospace;
            font-size: 11px;
        }

        .status-table-row{
            height: 48px;
            max-height: 48px;
        }

        .scroller {
            height: 300px;
            max-height: 300px;
            overflow-y: auto;
            position: relative;
            display: block;
        }

        table.status-table td{
            vertical-align: middle !important;
        }

        table.status-table .status-column{
            text-align: center;
            height: 100%;
            vertical-align: middle !important;
        }
    </style>
    <script type="text/javascript">
        if (!Java.isFX) {
            window.bearFX = {};
            window.bearFX.call = function (){
                //('conf', 'getFileText', newVal)
                var args = Array.prototype.slice.call(arguments);

                var bean = args[0];
                var method = args[1];

                args = args.slice(2);

                if (bean == 'conf') {
                    if (method == 'getFileText') {
                        return "Text of " + args[0];
                    }
                }

                throw "todo implement: " + [bean, method, args];
            }
        }

        //todo: register facade as a part of bindings!!
        window.bear = {
            isReady: function(){
                return window.bearFX != null;

            },
            jsonCall: function(){
                var args = Array.prototype.slice.call(arguments);

                args.unshift(true);

                return this._call.apply(undefined, args)

            },
            call:function(){
                var returnJson = false;

                var args = Array.prototype.slice.call(arguments);

                args.unshift(returnJson);

                return this._call.apply(undefined, args);
            },
            _call: function(){
                var args = Array.prototype.slice.call(arguments);

                var isJson = args[0];
                var bean = args[1];
                var method = args[2];

                args = args.slice(3);

                var r;

//              this is shorter, but does not work
//
//                var applyArgs = [window.bearFX, bean, method];
//
//                for (var i = 0; i < args.length; i++) {
//                    applyArgs.push(args[i]);
//                }
//
//                var bindingsMethod = isJson ? 'jsonSafeCall' + args.length : 'safeCall' + args.length;
//
//                Java.log('apply ', Java.Bindings[bindingsMethod], ' with args:', applyArgs);
//
//                r = Java.Bindings[bindingsMethod].apply(undefined, applyArgs);

                if (!isJson) {
//                    Java.log("_call(", window.bearFX, bean, method, args);

                    switch (args.length) {
                        case 0:
                            r = Java.Bindings.safeCall0(window.bearFX, bean, method);
                            break;
                        case 1:
                            r = Java.Bindings.safeCall1(window.bearFX, bean, method, args[0]);
                            break;
                        case 2:
                            r = Java.Bindings.safeCall2(window.bearFX, bean, method, args[0], args[1]);
                            break;
                        case 3:
                            r = Java.Bindings.safeCall3(window.bearFX, bean, method, args[0], args[1], args[2]);
                            break;
                        case 4:
                            r = Java.Bindings.safeCall4(window.bearFX, bean, method, args[0], args[1], args[2], args[3]);
                            break;
                        case 5:
                            r = Java.Bindings.safeCall5(window.bearFX, bean, method, args[0], args[1], args[2], args[3], args[4]);
                            break;
                        default:
                            throw  "window.bear.call.todo!!";
                    }
                } else {

                    switch (args.length) {
                        case 0:
                            r = Java.Bindings.jsonSafeCall0(window.bearFX, bean, method);
                            break;
                        case 1:
                            r = Java.Bindings.jsonSafeCall1(window.bearFX, bean, method, args[0]);
                            break;
                        case 2:
                            r = Java.Bindings.jsonSafeCall2(window.bearFX, bean, method, args[0], args[1]);
                            break;
                        case 3:
                            r = Java.Bindings.jsonSafeCall3(window.bearFX, bean, method, args[0], args[1], args[2]);
                            break;
                        case 4:
                            r = Java.Bindings.jsonSafeCall4(window.bearFX, bean, method, args[0], args[1], args[2], args[3]);
                            break;
                        case 5:
                            r = Java.Bindings.jsonSafeCall5(window.bearFX, bean, method, args[0], args[1], args[2], args[3], args[4]);
                            break;
                        default:
                            throw  "window.bear.call.todo!!";
                    }
                }

                r = checkExc(r);

                if(Java.isReturnedArray(r)){
                    r = Java.returnedArrayToJS(r);
                }

                return r;
            }

        };

        Java.receiveEvent = function(e){
            Java.log('received event: ', e);

            try {
                angular.element('#BearCtrl').scope().dispatchMessage(e);
            } catch (e) {
                Java.log("Exception", e);
            }
        };

        Java.initApp = function(){
            if(this.initialized){
                return;
            }

            //window.bearFX.call('conf', 'getSettingsText')

            Java.log("started Java.initApp...");

            this.initialized = true;

            $('#FileTabsCtrl').find('.nav.nav-tabs').find('li>a').click(function (e) {
                e.preventDefault();
                var $this = $(this);
                $this.tab('show');
                var href = $this.attr('href');
                var tabId = href.substring(1);
                angular.element(href).scope().selectTab(tabId.substring(0, tabId.length - 3));
            });

            $('#TabsDemoCtrl').find('.nav.nav-tabs').find('li>a').click(function (e) {
                $(this).tab('show');
            });

            function initAceEditor(editor)
            {

                var session = editor.getSession();

                session.setMode("ace/mode/java");
                session.setTabSize(2);
                session.setUseWorker(false);

                editor.setOptions({
                    enableBasicAutocompletion: true,
                    enableSnippets: true
                });

                editor.renderer.setShowGutter(false);
            }



            var settingsTextEditor = ace.edit("settingsText");
            var scriptsEditor = ace.edit("scriptText");
//            var localEditor = ace.edit("localEditor");

            initAceEditor(settingsTextEditor);
            initAceEditor(scriptsEditor);
//            initAceEditor(localEditor);

            if(Java.isFX){
//                settingsTextEditor.setValue(checkExc(window.bearFX.call('conf', 'getSettingsText')));
//                scriptsEditor.setValue(checkExc(window.bearFX.call('conf', 'getScriptText')));

                angular.element('body').scope().buildScripts();
            }
        };

        $(document).ready(function(){
            if(!Java.isFX){
                Java.initApp();
            }
        });
    </script>
</head>
<body class="design" ng-app="bear" ng-controller="BearCtrl" id="BearCtrl">
<!--<div class="btn-toolbar">-->
    <!--<div class="btn-group"><a href="#" class="btn btn-default">Button 1</a><a href="#" class="btn btn-default">Button-->
        <!--2</a><a href="#" class="btn btn-default">Button 3</a></div>-->
    <!--<div class="btn-group"><a href="#" class="btn btn-default">Button 1</a><a href="#" class="btn btn-default">Button-->
        <!--2</a><a href="#" class="btn btn-default">Button 3</a></div>-->
<!--</div>-->
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Status</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{terminals.stats.partiesCount}}</span>Servers
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{terminals.stats.partiesPending}}</span>Running
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{terminals.stats.partiesFailed}}</span> Failed
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{terminals.stats.partiesArrived}}</span> Completed
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Environment</h3>
            </div>
            <div class="panel-body"><br>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Stage</span>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="dropdown" ng-controller="DropdownCtrl">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="choice in items">
                                        <a>{{choice}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /btn-group -->
                    </div>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Roles</span>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="dropdown" ng-controller="DropdownCtrl">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="choice in items">
                                        <a>{{choice}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /btn-group -->
                    </div>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Hosts</span>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="dropdown" ng-controller="DropdownCtrl">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="choice in items">
                                        <a>{{choice}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /btn-group -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Live Hosts Status</h3>
            </div>
            <div class="panel-body">
                <table class="status-table table table-condensed">
                    <tr>
                        <th style="width: 10%"></th>
                        <th style="width: 70%">Task</th>
                        <th style="text-align: center">Status</th>
                    </tr>
                    <tr class="status-table-row {{terminal.getCssStatus()}}" ng-repeat="terminal in terminals.terminals">
                        <td>{{terminal.host.name}}</td>
                        <td>
                            <div>{{terminal.currentTask}}</div>
                            <div class="current-console-command">cmd: {{terminal.currentCommand}}</div>
                        </td>
                        <td><div class="status-column alert-{{terminal.getCssStatus()}}">{{terminal.getStringStatus()}}</div></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Hosts Log</h3>
            </div>
            <div class="panel-body">
                <pre>
10:05:34 vm01 Received answer: ... dkfjdkfj
10:05:34 vm03 Received answer: ... fdfd
                </pre>
            </div>
        </div>
        <div class="panel panel-primary">

            <div class="panel-body">

                <div id="ConsoleTabsCtrl" ng-controller="ConsoleTabsCtrl">
                    <tabset>
                        <tab ng-repeat="terminal in terminals.terminals"
                             heading="{{terminal.host.name}}">
                            <div ng-controller="ConsoleTabsChildCtrl" name="{{terminal.host.name}}" class="scroller">
                                <console-messages>
                                    <div>{{terminal.host.name}}</div>
                                </console-messages>
                                <table style="width: 100%">
                                    <tr>
                                        <td>
                                            <!--<textarea class="form-control current-console-command" id="{{terminal.host.name}}-input" ng-model="terminal.sendCommandText" rows="2"></textarea>-->
                                            <!--<div id="localEditor" class="aceEditor"></div>-->
                                            <div ui-ace="{onLoad: aceLoaded}"></div>

                                        </td>
                                        <td style="width: 5%">
                                            <button class="btn btn-success btn-sm" ng-click="sendCommand()">Send</button></td>
                                    </tr>
                                </table>
                            </div>

                        </tab>
                    </tabset>
                </div>


            </div>
            <div class="input-group input-group-sm">
                <input type="text" class="form-control">

                <div class="input-group-btn">
                    <div class="dropdown" ng-init="init(['a', 'b'])" ng-controller="DropdownCtrl">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="choice in items">
                                <a>{{choice}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /btn-group -->
            </div>
            <!-- /input-group -->
        </div>
    </div>
    <div class="col-md-3" >

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Edit script</h3>
            </div>

            <div class="panel-body" id="FileTabsCtrl" ng-controller="FileTabsCtrl">
                <ul id="" class="nav nav-tabs">
                    <li class="active"><a href="#scriptTab">Script</a></li>
                    <li class=""><a href="#settingsTab">Settings</a></li>
                    <li>
                        <div class="pull-right" >
                            <div style="display: inline-block">
                                <select id="fileSelect" chosen="selectedFile"  class="chzn-select"
                                        ng-model="selectedFile" ng-options="file for file in files()">
                                </select>
                            </div>
                            <div class="btn-toolbar" style="display: inline-block">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-xs"><i class="icon-trash"></i></button>
                                    <button class="btn btn-default btn-xs"><i class="icon-refresh"></i></button>
                                    <button class="btn btn-default btn-xs"><i class="icon-save"></i></button>
                                    <button class="btn btn-default btn-xs" ng-click="runScript()"><i class="icon-play"></i></button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-default btn-xs"><i class="icon-cog"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

                <div class="tab-content">
                    <div id="scriptTab" class="fade in tab-pane active" mytab>
                        <div id="scriptText" class="aceEditor">
                            function foo(items) {
                                var x = "All this is syntax highlighted";
                                return x;
                            }
                        </div>
                    </div>
                    <div id="settingsTab" class="fade in tab-pane" mytab>
                        <div id="settingsText" class="aceEditor">
                        function foo(items) {
                            var x = "All this is syntax highlighted";
                            return x;
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">History</h3>
            </div>
            <div class="panel-body"><br>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">1m</span>mkdir -p ~/prj/bear
                    </li>
                    <li class="list-group-item">
                        <span class="badge">4m</span>cd ~/prj/bear
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1h</span>
                        Morbi leo risus
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>